<div class="mainContainer">
  <div class="loginSec">
    <div class="column middle">
      <form>
        <div class="img_container">
          <h2 class="text-center">
            <label>Login Form</label> </h2>
        </div>
        <div class="container">
          <label for="uemail">Email address</label>
          <input type="text" formControlName="email_address">
          <label for="upwd">Password</label>
          <input type="password" formControlName="pwd">
          <button mat-raised-button color="primary" type="button">Login</button>
        </div>
      </form>
      </div>
  </div>
</div>